<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Materials</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")        
        @RenderSection("headerResources", required: false)
    </head>
    <body>
        <header>
            <img src="~/Images/logo.png" style="float:left;"/>
            <div class="content-wrapper" >
                <ul id="menu">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Productos", "Product", "Home")</li>
                    <li>@Html.ActionLink("Contenido", "Content", "Home")</li>
                    <li>@Html.ActionLink("Proveedores", "Supplier", "Home")</li>
                    <li>@Html.ActionLink("Administradores", "Administration", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - GCORP</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>
